.mainContent {
    width: 50rem;
    height: 15rem;
    margin: 1rem auto 2rem auto;
    display: flex;
    gap: 1rem;
}

.textContent {
    margin: 1rem auto;
}

.locationPicture {
    width: 12rem;
    height: 15rem;
    border-radius: 0.5rem;
}

.locationMap {
    display: flex;
    align-items: center;
    margin: 0; 
}

.material-symbols-outlined {
    color: #F55A5A;
}

.locationMap h1 {
    color: #2B283A;
    padding: 0 0.8rem 0 0.1rem;
}

.locationMap h1,
.material-symbols-outlined {
    font-size: 1.5rem;
    font-weight: 400;
}

.locationMap a {
    color: #918e9b;
    font-size: 1.2rem;
    font-weight: 400;
}

.locationMap span,
.locationMap h1,
.locationMap a {
    margin: 0;
}

.textContent h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #2B283A;
    margin: 0.3rem 0 0.625rem 0;
}

.textContent h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #2B283A;
    margin: 1.5rem 0 0 0;
}

.textContent p {
    font-size: 1rem;
    font-weight: 400;
    color: #2B283A;
}
